@mixin flex-col-wrap-center-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  flex-wrap: wrap;
}

@mixin flex-wrap-between {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

@mixin flex-between-center {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@mixin flex-align-justify-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flex-justify-center {
  display: flex;
  justify-content: center;
}
